.item {
  list-style: none;
  transition: all 0.2s ease;
}

.item:hover {
  cursor: pointer;
  scale: 1.1;
}

.link {
  display: flex;
  gap: 8px;
  align-items: center;
}

.icon {
  width: 24px;
  height: 24px;
}
