.item {
    list-style: none;
    margin-bottom: 16px;
}

.item:hover {
    cursor: pointer;
    text-decoration: underline;
}

.link {
    display: flex;
    gap: 8px;
    align-items: center;
}

.icon {
    width: 24px;
    height: 24px;
}
